[submodule "ModSources/crafttweaker"]
	path = ModSources/crafttweaker
	url = https://github.com/CraftTweaker/CraftTweaker.git
	branch = 1.12
[submodule "ModSources/ZenUtils"]
	path = ModSources/ZenUtils
	url = https://github.com/friendlyhj/ZenUtils.git
[submodule "ModSources/ModTweaker"]
	path = ModSources/ModTweaker
	url = https://github.com/jaredlll08/ModTweaker.git
[submodule "ModSources/ContentTweaker"]
	path = ModSources/ContentTweaker
	url = https://github.com/CraftTweaker/ContentTweaker.git
	branch = develop/1.12
[submodule "ModSources/CompatSkills"]
	path = ModSources/CompatSkills
	url = https://github.com/Coders-After-Dark/CompatSkills.git
[submodule "ModSources/GregTech"]
	path = ModSources/GregTech
	url = https://github.com/GregTechCEu/GregTech.git
[submodule "ModSources/Multiblocked"]
	path = ModSources/Multiblocked
	url = https://github.com/CleanroomMC/Multiblocked.git
[submodule "ModSources/RandomTweaker"]
	path = ModSources/RandomTweaker
	url = https://github.com/Project-RT/RandomTweaker.git
[submodule "ModSources/ModularMachinery-Community-Edition"]
	path = ModSources/ModularMachinery-Community-Edition
	url = https://github.com/NovaEngineering-Source/ModularMachinery-Community-Edition.git
[submodule "ModSources/CraftTweakerIntegration"]
	path = ModSources/CraftTweakerIntegration
	url = https://github.com/TCreopargh/CraftTweakerIntegration.git
