[submodule "ModSources/crafttweaker"]
	path = ModSources/crafttweaker
	url = https://github.com/CraftTweaker/CraftTweaker.git
	branch = 1.12
[submodule "ModSources/ZenUtils"]
	path = ModSources/ZenUtils
	url = https://github.com/friendlyhj/ZenUtils.git
[submodule "ModSources/ModTweaker"]
	path = ModSources/ModTweaker
	url = https://github.com/jaredlll08/ModTweaker.git
[submodule "ModSources/ContentTweaker"]
	path = ModSources/ContentTweaker
	url = https://github.com/CraftTweaker/ContentTweaker.git
	branch = develop/1.12
