name: Build

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ProbeZS Repository
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set up JDK 1.8
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 8
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2.4.2
      - name: Setup Decomp Workspace
        run: ./gradlew setupDecompWorkspace
      - name: Generate Parameter Name Mappings
        run: ./gradlew generateParameterNameMappings
      - name: Upload Parameter Name Mappings
        uses: actions/upload-artifact@v3
        with:
          name: mappings
          path: generated
      - name: Copy Parameter Name Mappings to Sources
        run: cp -f ./generated/method-parameter-names.yaml ./src/main/resources/mappings/
      - name: Build with Gradle
        run: ./gradlew build
      - name: Get gradle version
        uses: EmberCM/action-get-gradle-version@master
        id: version
        with:
          file: gradle.properties
      - name: Upload ProbeZS JAR
        uses: actions/upload-artifact@v3
        with:
          name: jar
          path: build/libs/ProbeZS-${{ env.VERSION }}.jar

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout Github Pages Repository
        uses: actions/checkout@v3
        with:
          repository: friendlyhj/friendlyhj.github.io
          token: ${{ secrets.PAGE_TOKEN }}
      - name: Download Parameter Name Mappings
        uses: actions/download-artifact@v3
        with:
          name: mappings
          path: probezs-mappings
      - name: Commit Parameter Name Mappings Updates
        id: commit
        uses: EndBug/add-and-commit@v9
        with:
          author_name: friendlyhj
          author_email: youyi580@qq.com
          message: Update ProbeZS Parameter Name Mappings
      - name: Download ProbeZS JAR
        uses: actions/download-artifact@v3
        with:
          name: jar
      - name: Get gradle version
        uses: EmberCM/action-get-gradle-version@master
        id: version
        with:
          file: gradle.properties
      - name: Get Current Time
        id: time
        run: echo "NOW=$(date +'%Y%m%d%H%M%S')" >> "$GITHUB_OUTPUT"
      - name: Release
        if: steps.commit.outputs.committed || github.event.head_commit.message != 'Update Submodules'
        uses: softprops/action-gh-release@v1
        with:
          name: Release ${{ env.VERSION }}-${{ steps.time.outputs.NOW }}
          tag_name: ${{ env.VERSION }}-${{ steps.time.outputs.NOW }}
          files: jar/ProbeZS-${{ env.VERSION }}.jar

